@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookRater</h1>
    <p>
        Created by <a href="https://github.com/ky-ler">Kyler</a> using ASP.NET Core 7.0.
    </p>
    <p>
        This is a simple CRUD app that allows you to rate books.
    </p>
</div>
